.container {
  @include container;
}

@include tablet {
  .container {
    @include container;
  }
}

@include mobile {
  .container {
    @include container;
  }
}

.row {
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.row .row > [class*='span']:not([class*='offset']) {
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

[class*='span'] {
  margin-bottom: 0.625em;
}