.hide {
  display: none !important;
  visibility: hidden !important;
}

.super-header {
  margin-top: 0px;
  width: 100%;
  h1 {
    font-size: 3.39787em;
  }
  h2 {
    font-size: 2.8315em;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

.social-media {
  display: inline;
  margin-top: 0.625em;
  li {
    display: inline;
    padding: 0.125em;
  }
}

.no-bottom-margin {
  margin-bottom: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.0625em;
    margin: -0.0625em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.0625em;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
