.modal-box {
  display: none;
  visibility: hidden;
  top: 100px;
  left: 50%;
  position: absolute;
  margin-left: -16.25em;
  width: 32.5em;
  z-index: 320;
  background: #dedede;
  @include border-radius(0.25em);
  @include box-shadow(1px, 1px, 5px, rgba(0, 0, 0, 0.2));
  @include tablet {
    position: fixed;
    right: 1.25em;
    left: 1.25em;
    width: auto;
    margin:0;
  }
  @include mobile {
    left: 0.625em;
    right: 0.625em;
  }
  .modal-header {
    padding: 0.5625em 0.9375em;
    h3 {
      font-size: 1em;
      padding-top: 0.375em;
    }
    .close {
      float: right;
      color: $txtColor;
      @include text-shadow(1px, 1px, 5px, rgb(255, 255, 255));
      opacity: 0.3;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    button.close {
      background: transparent;
      border: none;
    }
  }
  .modal-body {
    padding: 0.5625em 0.9375em;
  }
  .modal-footer {
    padding: 0.5625em 0.9375em 0.9375em 0.9375em;
  }
}
.curtain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}