---
title: New Coffee Slideshow
---

.slideshow_container.slideshow-container-1.clearfix
  .slideshow.clearfix{data: {autoplay: "false", rotationspeed:"2500", transition: "fade"}}
    .container.container-rpg
      .coffee-slider-first.first-control-1
        %img{src: "http://responsive-slider.coffeecup.com/storage/icons/minimal/first.png", alt: ""}
      .coffee-slider-previous.previous-control-1
        %img{src: "http://responsive-slider.coffeecup.com/storage/icons/minimal/previous.png", alt: ""}
      .coffee-slider-stop.stop-control-1
        %img{src: "http://responsive-slider.coffeecup.com/storage/icons/minimal/stop.png", alt: ""}
      .coffee-slider-play.play-control-1
        %img{src: "http://responsive-slider.coffeecup.com/storage/icons/minimal/play.png", alt: ""}
      .coffee-slider-next.next-control-1
        %img{src: "http://responsive-slider.coffeecup.com/storage/icons/minimal/next.png", alt: ""}
      .coffee-slider-last.inline-control
        %img{src: "http://responsive-slider.coffeecup.com/storage/icons/minimal/last.png", alt: ""}
      .coffee-slider-restart.inline-control
        %img{src: "http://responsive-slider.coffeecup.com/storage/icons/minimal/restart.png", alt: ""}
    .slides_container.clearfix
      .slide.active
        .responsive-image.centered-image
          %div
            %img.slideshow-image{src: "./images/horsehead-nebula.jpg?id=5&amp;cache=1432051815933", alt: "Horse Head Nebula"}
        %p.centered-text
          Horse Head Nebula
      .slide
        .responsive-image.centered-image
          %div
            %img.slideshow-image{src: "http://dailyderbi.com/wp-content/uploads/2011/04/11-scion-fr-s-concept-ny.jpg", alt: "Pillars Nebula"}
        %p.centered-text
          Pillars Nebula
      .slide
        .responsive-image.centered-image
          %div
            %img.slideshow-image{src: "./images/ngc-2264.jpg?id=6&amp;cache=1432051934665", alt: "More Space"}
        %p.centered-text
          More Space
      .slide
        .responsive-image.centered-image
          %div
            %img.slideshow-image{src: "./images/scotch.jpg?id=8&amp;cache=1432052011684", alt: "Cone Nebula"}
        %p.centered-text
          Cone Nebula
      .slide
        .responsive-image.centered-image
          %div
            %img.slideshow-image{src: "./images/eagle-nebula.jpg?id=4&amp;cache=1432052026222", alt: "Eagle Nebula"}
        %p.centered-text
          Eagle Nebula
    %ul.slides_indicator
      %li.slide_node.icon-circle.active
        %a{href:"#"}
      %li.slide_node.icon-circle
        %a{href:"#"}
      %li.slide_node.icon-circle
        %a{href:"#"}
      %li.slide_node.icon-circle
        %a{href:"#"}
      %li.slide_node.icon-circle
        %a{href:"#"}
