---
title: New Coffee Slideshow
---

.container
  .row
    .span-12
      %h1.center
        CoffeeCup Slideshow
  .row
    .span-12
      .slideshow-container.centered
        .slideshow.panel
          .slide.active
            = image_tag "sunface.jpg"
          .slide
            = image_tag "scotch.jpg"
          .slide
            = image_tag "road.jpg"
          .slide
            = image_tag "skeptic-face.jpg"
  .slideshow-controls
    .row
      .span-4.tablet-span-4.mobile-span-4
        %a.prev{href: "#"}
          %i.icon-backward
      .span-4.tablet-span-4.mobile-span-4.center
        %a.pause{href: "#"}
          %i.icon-pause
      .span-4.tablet-span-4.mobile-span-4
        %a.next.right{href: "#"}
          %i.icon-forward-2
