---
title: New Coffee Slideshow
---

.container
  .row
    .span-12.panel
      .slideshow-container.centered
        .slideshow
          .slide.active
            = image_tag "sunface.jpg"
          .slide
            = image_tag "scotch.jpg"
          .slide
            = image_tag "road.jpg"
          .slide
            = image_tag "skeptic-face.jpg"
  .slideshow-controls
    .row
      .span-4.tablet-span-2.mobile-span-1
        %a.prev{href: "#"}
          %i.icon-backward
      .span-4.tablet-span-2.mobile-span-2.center
        %a.pause{href: "#"}
          %i.icon-pause
      .span-4.tablet-span-2.mobile-span-1
        %a.next.right{href: "#"}
          %i.icon-forward-2
